body,
html {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  text-shadow: 2px 2px #000;
}

p {
  font-family: Georgia;
  font-style: italic;
  text-shadow: 1px 1px #000;
}

.exclusions {
  font-family: Georgia;
  font-size: 8pt;
  letter-spacing: 1px;
  text-shadow: none;
  font-style: normal;
}
.nav-item:hover{
    background-color: rgb(255, 208, 0); 
    border-radius: 10px 10px  10px 10px;
    transition: 1.0s all;
    }